.golden {border-radius: 50%; 
     width: 5%;
    height: 5%;
    vertical-align: middle;
}
.barra {
    font-size: Arial;
  border-top: 2px;
    width: 200px;              
  padding: 8px 12px;
  border: none;              
  border-radius: 20px;       
  background: linear-gradient(
    135deg,
    #f0f4ff,
    #dbe4ff
  );                         
  outline: none;
  vertical-align: middle;   
  margin-left: 16px;             
}
.share {
    font-style: Arial;
    border-radius: 20px; 
    background-color: blue; 
    color:azure;
    width: 50px; 
    border-color: blue;
}